<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bulma.min.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <section class="hero is-warning">
      <div class="hero-body">
        <p class="title"> <%= message %></p>
        <!-- <p class="subtitle"> Page not found - 404</p> -->
      </div>
    </section>
  </body>
</html>
