<!DOCTYPE html>
<html>
<%- include("templates/header") %>

  <body>
    <section class="section">
      <div class="maincolumns columns is-desktop is-vcentered">
        <div class="column is-4 is-offset-4 has-background-light is-light container" style="border-radius: 25px;">
          <!-- Logging in with creds -->
          <form action="/submitUser" method="post">
            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="User Name" value="" name="name" />
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" value="" name="email" />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">password</label>
              <div class="control has-icons-right">
                <input name="password" class="input" type="text" placeholder="Password" />
                <span class="icon is-small is-right">
                  <% if (locals.message) {%>
                    <i class="fas fa-exclamation-triangle"></i>
                    <% }%>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                </span>
              </div>
              <% if (locals.message) {%>
                <p class="help is-danger">
                  <%= message %>
                </p>
                <% }%>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-dark">Submit</button>
              </div>
              <div class="control">
                <a href="/" class="button is-link is-light">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>

</html>
